<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <% info.forEach(function(justOne) { %>
    <li>
      <strong><%= justOne.name %></strong> <br />
      <strong><%= justOne.organization %></strong>
      <strong><%= justOne.birth_day %></strong>
      <br />
    </li>
    <% }); %>

    <div class="blok">
      <input id="myLogin" class="input" type="text" name="login" />
      <input id="myParol" class="input" type="text" name="parol" />
      <input id="myEmail" class="input" type="text" name="email" />
      <div class="knopka">
        <button type="submit" class="knopka" onclick="aper()">Send</button>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
